@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes iridescent {
  from {
    text-shadow: none;
  }
  50% {
    text-shadow: 2px 2px 3px #c06121;
  }
  to {
    text-shadow: none;
  }
}

@keyframes more-iridescent {
  from {
    text-shadow: none;
  }
  50% {
    text-shadow: 2px 1px 3px #361e0d;
  }
  to {
    text-shadow: none;
  }
}

/* Animations end */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
.index body {
  font-family: "Roboto";
  overflow-wrap: break-word;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.index .main-container {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  background: linear-gradient(to bottom, #fff, #f5f5f500 20%, #fb9f0e 100%);
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 28px 75px 28px;
  width: 100%;
  box-sizing: border-box;
}
.index .test-0-logo {
  margin: 0 auto;
}
.index .slogan {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 31px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #4a4640;
}

/* Header end */
/* Navigation start */

.index .navigation {
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
}
.index .nav-container {
  background: #fb9f0e;
  position: relative;
  display: flex;
  width: 331px;
  height: 113px;
  border: 4px solid transparent;
  line-height: 113px;
  justify-content: center;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
  text-shadow: -0 -2px 0 #fce0b3, 0 -2px 0 #fce0b3, -0 2px 0 #fce0b3,
    0 2px 0 #fce0b3, -2px -0 0 #fce0b3, 2px -0 0 #fce0b3, -2px 0 0 #fce0b3,
    2px 0 0 #fce0b3, -1px -2px 0 #fce0b3, 1px -2px 0 #fce0b3, -1px 2px 0 #fce0b3,
    1px 2px 0 #fce0b3, -2px -1px 0 #fce0b3, 2px -1px 0 #fce0b3,
    -2px 1px 0 #fce0b3, 2px 1px 0 #fce0b3, -2px -2px 0 #fce0b3,
    2px -2px 0 #fce0b3, -2px 2px 0 #fce0b3, 2px 2px 0 #fce0b3,
    -2px -2px 0 #fce0b3, 2px -2px 0 #fce0b3, -2px 2px 0 #fce0b3,
    2px 2px 0 #fce0b3; /* Обводка */
}
.index .test-0-nav-1 {
  border-radius: 8px 0 0 8px;
}
.index .test-0-nav-3 {
  line-height: 57px;
  text-align: center;
  border-radius: 0 8px 8px 0;
}
.index .nav-container:hover {
  border-color: #fce0b3;
  color: #fb9f0e;
  transition-delay: 0.1s;
}

/* Navigation end */
/* Principlies start */

.index .principlies-label,
.search-label {
  margin-block: 60px 22px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #4a4640;
}
.index .principles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.index .principle {
  width: 330px;
  height: 100px;
  background: #fce0b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 28px;
  padding: 5px 10px;
  color: #000000;
  margin-bottom: 85px;
}
.index .principle-1 {
  border-radius: 8px 0 0 8px;
}
.index .principle-2 {
  border-radius: 0;
  border-inline: 2px solid #f0d7af;
}
.index .principle-3 {
  border-radius: 0 8px 8px 0;
}

/* Principles end */
/* Slider start */

.index .slider {
  width: 1080px;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.index .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.index .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index .slide.active {
  opacity: 1;
}

.index .controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.index .controls button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.index .arrow {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-right: 5px;
}

/* Slider end */
/* Search start */

.index .search {
  margin: 15px 0 10px;
  display: flex;
  justify-content: center;
  width: 1200px;
  flex-direction: row;
  column-gap: 2.4px;
}
.index .search-element span {
  padding-left: 12px;
  font-weight: 300;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
}
.index .search-element {
  width: 197px;
  height: 65px;
  background: rgba(232, 178, 30, 0.91);
  position: relative;
  line-height: 80px;
}
.index .test-0-fd {
  border-radius: 7px 0 0 7px;
}
.index .search-element span {
  height: 20px;
  margin-left: -5px;
  position: absolute;
  top: -25px;
  color: #fff;
  font-size: 12px;
}
.index .search-element input {
  margin-left: 12px;
  width: 160px;
  border-block: 1px solid #6e6e6e65;
  border-inline: none;
  background-color: transparent;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
}
.index .search-element input::-webkit-input-placeholder {
  font-weight: 300;
  color: #fff;
}
.index .search-element input:focus {
  outline: none;
}
.index .test-0-fbs {
  border-radius: 0 7px 7px 0;
  border: none;
  box-shadow: 2px 2px 2px 2px #fb650e;
  background: #fb9f0e;
  position: relative;
  height: 65px;
  width: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.index .test-0-fbs:hover {
  animation: more-iridescent 1.5s infinite ease-in;
}
.index .test-0-fbs:active {
  transform: translate(0, 2px);
  box-shadow: none;
  animation: none;
}
#searchWarn,
#registrWarn,
#loginWarn {
  margin: 0;
}
.warning {
  font-style: italic;
  font-size: 24px;
  margin-block: 16px;
  color: rgb(253, 76, 76);
}
.reg-warning,
.log-warning {
  font-style: italic;
  font-size: 14px;
  margin-block: 16px;
  max-width: 300px;
  text-align: center;
  color: rgb(253, 76, 76);
}
/* Search end */
/* Promotions start */

.index .promotions-label,
.reviews-label {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0 37px 22px 37px;
  font-weight: 500;
  font-size: 40px;
  color: #4a4640;
}
.index .promotions {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.index .cards {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: fit-content;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.778;
  color: #8c8c8c;
}
.index .card {
  position: relative;
  padding-top: 1.5px;
  width: 320px;
  height: 613px;
}
.index .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  background: #ffffff;
  padding: 203.5px 20px 15px 20px;
  height: 383px;
}
.index .test-0-an {
  margin: 0 11.8px 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #000000;
}
.index .test-0-ad {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.778;
  color: #8c8c8c;
  text-align: justify;
}
.index .test-0-ai {
  border-radius: 7px 7px 0 0;
  position: absolute;
  width: 320px;
  height: 193.6px;
}

/* Promotions end */
/* Review start */

.index .reviews {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  width: 1400px;
}
.index .review-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.index .review {
  background: #cca260;
  width: 225px;
  height: 269px;
  border-radius: 6px;
  font-weight: 300;
  padding: 15px;
  box-sizing: border-box;
}
.index .review-head {
  display: flex;
  align-items: center;
}
.index .user-icon {
  height: 36px;
  width: 36px;
  padding: 0 5px 3px 0;
}
.index .username {
  color: #fff2d3;
  font-size: 20px;
}
.index .user-review {
  color: #fde5a8;
  font-size: 16px;
  text-align: justify;
}

/* Reveiw end */
/* Newsletter start */

.index .newsletter {
  display: flex;
  flex-direction: column;
  width: 1400px;
}
.index .newsletter-label {
  margin: 0 17px 14px 17px;
  display: inline-block;
  align-self: flex-start;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.333;
  color: #000000;
}
.index .newsletter-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.index .test-0-sie {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: #888888;
  background: #ffffff;
  padding-inline: 17px;
  width: 360px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.index .newsletter input:focus {
  outline: none;
}
.index .test-0-sbs {
  border-radius: 3px;
  background: #fac36c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  border: none;
  box-shadow: 2px 2px 2px 2px #f8782d;
  position: relative;
  height: 61px;
  width: 158px;
}

.index .test-0-sbs:hover {
  animation: iridescent 1.5s infinite ease-in;
}

.index .test-0-sbs:active {
  transform: translate(0, 1px);
  box-shadow: none;
  animation: none;
}

/* Newsletter end */
/* Footer start */

.index .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 15px;
  margin-bottom: 14px;
}

/* Footer-nav start */

.index .footer-nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 60px;
}
.index .footer-nav a {
  font-family: "Roboto";
  font-size: 18px;
  color: #434343;
}

/* Footer-nav end */
/* Feedback start */

.index .feedback {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: #434343;
  gap: 16px;
}

/* Footer end */

.index {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 1920px;
  box-sizing: border-box;
}

/* index end */
/* login-register */

.login-html {
  background: linear-gradient(to right, #f8ecd977, #f8ae37, #f8ecd977);
  background-size: 300% 200%;
  animation: gradient 60s infinite;
}
.frame-2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 0;
  transition: all 0.6s;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0%;
  }
}
.frame-2 .container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px #0000004d;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 520px;
}
.frame-2 .container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.frame-2 .container button {
  background-color: #cea86c;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.frame-2 .container button.hidden {
  background-color: transparent;
  border-color: #fff;
}
.frame-2 .container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.frame-2 .container input {
  background-color: #eee;
  border: none;
  margin: 8px 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 90%;
  outline: none;
}
.frame-2 .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.frame-2 .login {
  left: 0;
  width: 50%;
  z-index: 2;
}
.frame-2 .container.active .login {
  transform: translateX(100%);
}
.register {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.frame-2 .container.active .registration {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.frame-2 .toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}
.frame-2 .container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.frame-2 .toggle {
  background-color: #c06121;
  height: 100%;
  background: linear-gradient(to right, #fcd493, #dd8c13);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
}
.frame-2 .container.active .toggle {
  transform: translateX(50%);
}
.frame-2 .toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-left {
  transform: translateX(-200%);
}
.frame-2 .container.active .toggle-left {
  transform: translateX(0);
}
.toggle-right {
  right: 0;
  transform: translateX(0);
}
.frame-2 .container.active .toggle-right {
  transform: translateX(200%);
}
